In [2]:
import pandas as pd
# import numpy as np
# import matplotlib.pyplot as plt

In [4]:
csv_df = pd.read_csv(r'C:\Users\user\OneDrive\Desktop\python\test\data.csv')
csv_df.head()
csv_df.describe()

         Duration       Pulse    Maxpulse     Calories
count  169.000000  169.000000  169.000000   164.000000
mean    63.846154  107.461538  134.047337   375.790244
std     42.299949   14.510259   16.450434   266.379919
min     15.000000   80.000000  100.000000    50.300000
25%     45.000000  100.000000  124.000000   250.925000
50%     60.000000  105.000000  131.000000   318.600000
75%     60.000000  111.000000  141.000000   387.600000
max    300.000000  159.000000  184.000000  1860.400000

In [5]:
csv_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 169 entries, 0 to 168
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  169 non-null    int64
 1   Pulse     169 non-null    int64
 2   Maxpulse  169 non-null    int64
 3   Calories  164 non-null    float64
dtypes: float64(1), int64(3)
memory usage: 5.4 KB

In [ ]:
df=pd.read_csv(r'C:\Users\user\OneDrive\Desktop\python\test\Mine.csv', index_col=0)
# any drops rows with any NaN values
new_df = df.dropna(axis=0, how='any')
print(new_df.to_string)

<bound method DataFrame.to_string of                  Date  Pulse  Maxpulse  Calories
Duration
60        2023/10/01'  110.0     130.0     409.1
60        2023/10/02'  117.0     145.0     479.0
60        2023/10/03'  103.0     135.0     340.3
45        2023/10/04'  109.0     175.0     282.4
45        2023/10/05'  117.0     150.0     405.1
60        2023/10/06'  103.0     125.0     300.0
60        2023/10/07'  110.0     135.0     374.0
60        2023/10/09'  112.0     126.0     193.8
30        2023/10/10'  102.0     147.0     234.8
60        2023/10/11'  100.0     129.0     375.3
60        2023/10/12'  109.0     131.0     345.6
60        2023/10/13'  103.0     136.0     239.2
60        2023/10/15'  120.0     100.0     240.8
60        2023/10/17'  127.0     102.0     380.2
45           20231018  142.0     103.0     241.4
60        2023/10/20'  162.0     105.0     300.9
60        2023/10/21'  100.0     106.0     280.0
60        2023/10/25'  132.0     110.0     236.9
60        2023/10/26'  135.0     118.0     278.8
60        2023/10/27'  137.0     119.0     212.9
60        2023/10/28'  138.0     121.0     345.9
60        2023/10/29'  139.0     122.0     345.2>

In [7]:
# df=pd.read_csv(r'C:\Users\user\OneDrive\Desktop\python\test\data.csv', index_col=0)
# df.dropna(inplace = True)
# # all drops rows with all NaN values,entire row must be NaN to be dropped
# new_df = df.dropna(axis=0, how='all')
# print(new_df)

In [11]:
df=pd.read_csv(r'C:\Users\user\OneDrive\Desktop\python\test\Mine.csv', index_col=0)
df['Date'] = pd.to_datetime(df['Date'], format='mixed')
# print(df['Date'].head())
print(df.to_string())

               Date  Pulse  Maxpulse  Calories
Duration
60       2023-10-01  110.0     130.0     409.1
60       2023-10-02  117.0     145.0     479.0
60       2023-10-03  103.0     135.0     340.3
45       2023-10-04  109.0     175.0     282.4
45       2023-10-05  117.0     150.0     405.1
60       2023-10-06  103.0     125.0     300.0
60       2023-10-07  110.0     135.0     374.0
400      2023-10-08  114.0     133.0       NaN
60       2023-10-09  112.0     126.0     193.8
30       2023-10-10  102.0     147.0     234.8
60       2023-10-11  100.0     129.0     375.3
60       2023-10-12  109.0     131.0     345.6
60       2023-10-13  103.0     136.0     239.2
60       2023-10-15  120.0       NaN     240.8
60       2023-10-15  120.0     100.0     240.8
60       2023-10-16    NaN     101.0     243.8
60       2023-10-17  127.0     102.0     380.2
45       2023-10-18  142.0     103.0     241.4
60       2023-10-19  151.0     104.0       NaN
60       2023-10-20  162.0     105.0     300.9
60       2023-10-21  100.0     106.0     280.0
60       2023-10-22  103.0     107.0       NaN
60              NaT  130.0     108.0     230.8
60       2023-10-24  134.0       NaN     239.7
60       2023-10-25  132.0     110.0     236.9
60       2023-10-26  135.0     118.0     278.8
60       2023-10-27  137.0     119.0     212.9
60       2023-10-28  138.0     121.0     345.9
60       2023-10-29  139.0     122.0     345.2
60              NaT   92.0     125.0     380.5
60       2023-10-31   94.0     126.0       NaN

In [12]:
x = df["Calories"].median()

df.fillna({"Calories": x}, inplace=True)
print(df.to_string())

               Date  Pulse  Maxpulse  Calories
Duration
60       2023-10-01  110.0     130.0     409.1
60       2023-10-02  117.0     145.0     479.0
60       2023-10-03  103.0     135.0     340.3
45       2023-10-04  109.0     175.0     282.4
45       2023-10-05  117.0     150.0     405.1
60       2023-10-06  103.0     125.0     300.0
60       2023-10-07  110.0     135.0     374.0
400      2023-10-08  114.0     133.0     282.4
60       2023-10-09  112.0     126.0     193.8
30       2023-10-10  102.0     147.0     234.8
60       2023-10-11  100.0     129.0     375.3
60       2023-10-12  109.0     131.0     345.6
60       2023-10-13  103.0     136.0     239.2
60       2023-10-15  120.0       NaN     240.8
60       2023-10-15  120.0     100.0     240.8
60       2023-10-16    NaN     101.0     243.8
60       2023-10-17  127.0     102.0     380.2
45       2023-10-18  142.0     103.0     241.4
60       2023-10-19  151.0     104.0     282.4
60       2023-10-20  162.0     105.0     300.9
60       2023-10-21  100.0     106.0     280.0
60       2023-10-22  103.0     107.0     282.4
60              NaT  130.0     108.0     230.8
60       2023-10-24  134.0       NaN     239.7
60       2023-10-25  132.0     110.0     236.9
60       2023-10-26  135.0     118.0     278.8
60       2023-10-27  137.0     119.0     212.9
60       2023-10-28  138.0     121.0     345.9
60       2023-10-29  139.0     122.0     345.2
60              NaT   92.0     125.0     380.5
60       2023-10-31   94.0     126.0     282.4